*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


header {
    display: flex;
    justify-content: space-between;
}

.section1{
    display: flex;
    justify-content: space-between;
}

#block_1{
    display: flex;
    width: 40%;
    margin-top: 10px;
    margin-left: 20px;
}
#logo{
    height: fit-content;
}
#Bur{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
}
#ger{
    color: darkgoldenrod;
    font-weight: bolder;
    font-style: italic;
    font-family: cursive;
}
.very_top{
    background: linear-gradient(100deg ,white 50%, yellow 50%);
    height: 60vh;
}
#block_2 a{ 
    margin-left: 5em;
}
#burger_1{
    float: right;
}
#rain{
    font-size: xx-large;
}

#Rain{
    margin-top: 50px;
    margin-left: 50px;
}
#cook{
    margin-top: 35px;
    color: palevioletred;
    font-size: 13px;
}
.order{
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 10px;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    border: orange;
}
   #Lorem_1 , #Lorem_2 , #Lorem_3 {
       width: 390px;
       margin: 10px;
       display: flex;
   }
   #our_menu{
       text-align: center;
       font-weight: bolder;
   }
   .options_1 {
       display: flex;
       justify-content: space-around;

   }
   .options_2{
       margin-top: 7px;
       display: flex;
       justify-content: space-around;
       margin-left: 7px;
   }
   .options{
       width: 1000px;
       font-size: smaller;
   }
   .Lorem{
       text-align: center;
       display: flex;
       margin-top: 5%;
       margin-bottom: 10%;
   }
   #Lorem_1 ,#Lorem_2 ,#Lorem_3 {
       border: groove;
       border-radius: 10px;
       font-size: smaller;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   #menu_1 , #menu_3 , #menu_2 , #menu_4 , #menu_5 , #menu_6{
       border: groove;
       border-radius: 10px;
       height: 250px;
       margin-left: 3px;
   }

   .mm{
       margin-top: 10px;
       font-weight: bolder;
       align-content: center;
   }

   .double{
       display: flex;
       margin-top: 80px;
       justify-content: space-around;
       
   }
   .discover{
       background-color: darkorange;
       justify-content: space-around;
       display: flex;
       height: 500px;
       width: 1000px;
       align-items: center;
   }

   #discover_text{
       align-items: center;
   }
 .discover_img{
     height: 400px;
     width: 300px;
 }
 .bottom{
     display: flex;
     justify-content: space-around;
     margin-top: 30px;
 }

 .email{
     border: 2px solid lightblue;
     font-size: x-small;
     height: 20px;
 }

 .subscribe{
border: 2px solid lightblue;
color: white;
background-color: orange;
width: 60px;
font-size: x-small;
height: 20px;
 }

 .subemail{
     display: flex;
     margin-top: 7px;
 }

 .footer{
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
 }